<nav>
  <div class="nav-container">
      <a href="/index.html" class="logo-container">
          <img src="/assets/logos/logo.svg" alt="Boulder High School Track & Field Logo" class="nav-logo main-logo">
          <img src="/assets/logos/logo-small.svg" alt="Boulder High School Track & Field Logo" class="nav-logo scrolled-logo">
      </a>
      
      <button class="mobile-menu-button">☰</button>
      
      <div class="nav-items-container">
          <div class="nav-item">
              TEAM INFO
              <div class="dropdown">
                  <a href="https://docs.google.com/document/d/1kzl1ufylL74F8e0DPGNTbrsVTexl3WHiO2epDqjg8Mg/edit?usp=sharing" class="dropdown-item">TEAM POLICIES</a>
                  <a href="https://docs.google.com/spreadsheets/d/12kOLRhShxpozu0u7ADnyWf9w6sradPa0UOylBKxr2Xc/edit?usp=sharing" class="dropdown-item">ROSTER</a>
                  <a href="/teaminfo/practiceschedule.html" class="dropdown-item">PRACTICE SCHEDULE</a>
                  <a href="/teaminfo/coaches.html" class="dropdown-item">COACHES</a>
              </div>
          </div>
          
          <div class="nav-item">
              MEETS
              <div class="dropdown">
                  <a href="https://docs.google.com/spreadsheets/d/1vB5OzREIgGzkIi93CPq8Gjv0NMsuqB38tIMn6DuMe4k/edit?usp=sharing" class="dropdown-item">SCHEDULE</a>
                  <a href="/meets/results.html" class="dropdown-item">RESULTS</a>
                  <a href="https://docs.google.com/spreadsheets/d/1PBPAm7BK84B4vmArHAwRP1sL4I8XetV5pu2678IUYUc/edit?usp=sharing" class="dropdown-item">SEASON BESTS</a>
              </div>
          </div>
          
          <div class="nav-item">
             PROGRAM HISTORY
              <div class="dropdown">
                  <a href="https://docs.google.com/spreadsheets/d/1xPID8oCLlmOdnT05Kl2bjmkDg9KIUbHP4JmFTLS5MsQ/edit?usp=sharing" class="dropdown-item">RECORDS & TOP 10 LISTS</a>
                  <a href="/programhistory/programhistory.html" class="dropdown-item">PROGRAM HISTORY</a>
              </div>
          </div>

          <div class="nav-item">
              SUPPORT
               <div class="dropdown">
                   <a href="/support/fundraising.html" class="dropdown-item">FUNDRAISING</a>
                   <a href="/support/sponsorship.html" class="dropdown-item">SPONSORSHIP</a>
                   <a href="/support/donations.html" class="dropdown-item">DONATIONS</a>
               </div>
           </div>
          
          <div class="nav-item">
              CONTACT
              <div class="dropdown">
                  <a href="#" class="dropdown-item">JOIN OUR MAILING LIST</a>
                  <a href="https://www.instagram.com/bouldertrackandfield/" class="dropdown-item">BHSTF INSTAGRAM</a>
              </div>
          </div>
      </div>
  </div>
</nav>